.NetworkDesigner{
    background-color: rgb(233, 241, 241);
    width: fit-content;
    min-height: fit-content;
    height: 90vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;

}

.Layer{
    width: fit-content;
    height: 80vh;
    min-height: fit-content;
    display: flex;
    /* border: 2px solid; */
    margin: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.Nueron{
    background-color: rgb(78, 186, 219);
    border-radius: 100%;
    margin-top: 5px;
    border: 3px solid;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.NeuronIncrementor{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.NeuronIncrementor input{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 15px;
    border: None;
    background-color: rgba(27, 101, 165, 0);
}

.NeuronIncrementor button{
    height: 20px;
    min-width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 15px;
}

.board {
    border: 2px solid;
    padding-left: 0px;
    min-width: fit-content;
}

.neuron-controller{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 100px;
}

.neuron-controller-div{
    width: 100px;display: flex;
    /* border: 2px solid; */
        flex-direction: column;
        justify-content: space-evenly;
}

.neuron-controller-div select{
    width: 90%;
    margin-bottom:5px ;

}

.neuron-controller-functions{
    width: 100%;
    /* padding-right: 40px; */
    display: flex;
        flex-direction: row;
        justify-content: space-evenly;
}

.neuron-controller input{display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 30px;
    border: None;
    background-color: rgba(27, 101, 165, 0);

}